<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>About Us | codePannu - Free Python course for students</title>
	<link rel="icon" type="image/png" href="images/favicon.ico" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

	<!-- Embed youtube button -->
	<script src="https://apis.google.com/js/platform.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179069335-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-179069335-1');
	</script> -->




</head>

<body>

	<!-- #header -->
	<header id="header" class="header header-hide">
		<div class="container">
			<div id="logo" class="pull-left">
				<h1><a href="/" class="scrollto"><span>codePannu</span></a></h1>
			</div>
			<div style="float:right; padding:5px; font-size:30px">
				<a href="/"><i class="fa fa-home"></i></a></div>
		</div>
	</header><!-- #header -->




	<!-- Quote -->
	<section id="banner-quote">
		<p><b>Code Pannu translates to 'write code' in Tamil</b></p>
	</section>


	<section id="one" class="wrapper special">
		<div class="inner narrow">
			<header>
				<h2>About codePannu</h2>
			</header>
			<ul class="alt">
				<li>Courses are designed to introduce students to programming and so topics is explained in tremendous
					detail </li>
				<li>We want to help students who want to develop coding as a life skill</li>
				<li>Our courses are free and will keep it free for as long as we can</li>
				<li>Courses are explained in simple english to make it easy for regional language students</li>
				<li>Practise is important, so we take the time to correct assignments of all our students</li>
				<li>We provide internship to encourage students to gain hand-on experience in product development</li>
			</ul>

			<br><br>
			<p>Like to know more? <a href="aboutUs#three"><b>Click here</b></a> to drop a message and we will reach out
				to you</p>
				<br>
			<div class='row'>
				<div class="g-ytsubscribe" data-channelid="UCFXwhgrgPkFxesI_l9r7S2A" data-layout="full"
					data-count="hidden"></div>
				<p>Subscribe to get notified about new videos</p>
			</div>
		</div>
	</section>

	<section id="two" class="wrapper special">
		<div class="inner narrow">
			<header>
				<h2>Our team</h2>
			</header>
			<blockquote>We are techies with decades of experience in IT and Data Science</blockquote>
			<blockquote>We want to take our work experience and convert it into courses that are simple and fun for
				students</blockquote>
			<blockquote>Our work in corporates has also given us sufficient experience in training interns, freshers and
				college students</blockquote>
		</div>
		Like to know more? <a href="aboutUs#three"><b>Click here</b></a> to drop a message and we will reach out to you
	</section>

	<!-- Two -->
	<section id="three" class="wrapper style2 special">
		<div class="inner narrow">
			<header>
				<h2>Talk to our team</h2>
			</header>
			<form class="grid-form" method="post" action="#">
				<div class="form-control narrow">
					<label for="name">Name</label>
					<input name="name" id="name" type="text">
				</div>
				<div class="form-control narrow">
					<label for="email">Email</label>
					<input name="email" id="email" type="email">
				</div>
				<div class="form-control">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="4"></textarea>
				</div>
				<ul class="actions">
					<li><input value="Send Message" type="submit"></li>
				</ul>
			</form>

		</div>
	</section>


	<section id="three" class="wrapper special">
		<div class="inner narrow">
			<h2>Check us Out</h2>
			<br>
			<!-- <div class="row"> -->
			<h3>Email</h3>
			<h6>contact@codepannu.com</h6>
			<!-- </div> -->
			<br>
			<div>
				<h3>Address</h3>
				<h6>No 6, Patel Kullappa Street</h6>
				<h6>M S Nagar post</h6>
				<h6>Bangalore -560033</h6>
				<br>
				<ul class="icons">
					<li><a href="https://www.linkedin.com/company/codepannu" target="_blank" rel="noreferrer noopener"
							class="icon fa-youtube"></a></li>
					<li><a href="https://www.youtube.com/channel/UCFXwhgrgPkFxesI_l9r7S2A" target="_blank"
							rel="noreferrer noopener" class="icon fa-linkedin"></a></li>
				</ul>
			</div>
		</div>
	</section>



	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			&copy; codePannu. Design: <a href="http://templated.co/">TEMPLATED</a>.
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

</body>

</html>